{% extends "_layouts/cp.twig" %}
{% set title = "TryHackMe"|t('plugin-handle') %}
{% set tabs = {
  dashboard: {
    label: 'Dashboard'|t('plugin-handle'),
    url: '/admin/tryhackme/dashboard',
  },
  badges: {
    label: 'Badges'|t('plugin-handle'),
    url: '/admin/tryhackme/badges',
  },
} %}
{% set selectedTab = 'badges' %}

{% set userData = craft.tryhackme.userData %}
{% block content %}
    <div class="flex items-center justify-between mb-3">
        <h1>{{ 'Earned badges'|t('plugin-handle') }}</h1>
    </div>
    <div class="card">
        <table class="data-table">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'Name'|t('plugin-handle') }}</th>
                <th>{{ 'Description'|t('plugin-handle') }}</th>
            </tr>
        </thead>
        <tbody>
            {% set badges = userData.badges|sort %}
            {% for badge in badges %}
                <tr>
                    <td>
                        <img src="{{ badge.image }}" 
                            alt="{{ badge.title }}" 
                            style="max-width: 100px;"
                            class="{{ badge.earned ? "" : "disabled" }}"
                        >
                    </td>
                    <td>{{ badge.title }}</td>
                    <td>{{ badge.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}