{% extends "_layouts/cp.twig" %}
{% set title = "TryHackMe"|t('plugin-handle') %}
{% set userData = craft.tryhackme.userData %}
{# {% set leaderboardLocations = craft.tryhackme.leaderboardLocations %}
{% set leaderboardLocation = craft.tryhackme.leaderboardLocation %} #}
{% set tabs = {
  dashboard: {
    label: 'Dashboard'|t('plugin-handle'),
    url: '/admin/tryhackme/dashboard',
  },
  badges: {
    label: 'Badges'|t('plugin-handle'),
    url: '/admin/tryhackme/badges',
  },
  leaderboardCountry: {
    label: userData.country ,
    url: '/admin/tryhackme/leaderboard-country',
  },
} %}
{% set selectedTab = 'dashboard' %}

{% block content %}
    <h2>{{ craft.tryhackme.userName }}</h2>
    <div>
        <img src="{{ userData.avatar }}" alt="Profile picture" style="max-width: 100px">
    </div>
    <p>Rank: {{userData.userRank}}</p>
    <p>Points: {{userData.points|number_format (0,'.',' ')}}</p>
    <p>Rooms: {{userData.completedRooms|length}}</p>
    <p>Badges: {{userData.earnedBadges}}</p>
{% endblock %}